CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode/
.idea/
cmake-build-*/
*.gch
SteamGiftsBot
build/
build-release/
build-debug/
./SteamGiftsBot
